<a href="https://colab.research.google.com/github/Ali-MH-Mansour/Keyword-Extraction/blob/main/Method/Recommend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#drive.flush_and_unmount(timeout_ms=24)

Mounted at /content/drive

In [ ]:
text= """doc ======================================================
doc ======================================================

doc ======================================================
doc ======================================================
doc ======================================================"""
print(len(text.split("\n")))

59

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/PHD/Data/UUCF Assignment Spreadsheet.xls')
data.head()

                                          Unnamed: 0  1648  ...  3853  2288
0      11: Star Wars: Episode IV - A New Hope (1977)   NaN  ...   NaN   NaN
1                            12: Finding Nemo (2003)   NaN  ...   NaN   3.5
2                            13: Forrest Gump (1994)   NaN  ...   3.5   3.5
3                         14: American Beauty (1999)   NaN  ...   NaN   NaN
4  22: Pirates of the Caribbean: The Curse of the...   4.0  ...   NaN   3.5

[5 rows x 26 columns]

In [ ]:
#movies names return a rows for a cloumn
dd = data['Unnamed: 0']
dd

0         11: Star Wars: Episode IV - A New Hope (1977)
1                               12: Finding Nemo (2003)
2                               13: Forrest Gump (1994)
3                            14: American Beauty (1999)
4     22: Pirates of the Caribbean: The Curse of the...
                            ...
95                         9806: The Incredibles (2004)
96                   10020: Beauty and the Beast (1991)
97                                  36657: X-Men (2000)
98                       36658: X2: X-Men United (2003)
99                              36955: True Lies (1994)
Name: Unnamed: 0, Length: 100, dtype: object

In [ ]:
#all cols without one
uu = data.loc[:, data.columns != 'Unnamed: 0']
uu

    1648  5136  918   2824  3867  860   ...  2486  4942  2267  4809  3853  2288
0    NaN   4.5   5.0   4.5   4.0   4.0  ...   3.5   NaN   NaN   NaN   NaN   NaN
1    NaN   5.0   5.0   NaN   4.0   4.0  ...   2.0   3.5   NaN   NaN   NaN   3.5
2    NaN   5.0   4.5   5.0   4.5   4.5  ...   4.5   4.0   3.5   4.5   3.5   3.5
3    NaN   4.0   NaN   NaN   NaN   NaN  ...   3.5   4.0   NaN   3.5   NaN   NaN
4    4.0   5.0   3.0   4.5   4.0   2.5  ...   2.5   3.5   NaN   5.0   NaN   3.5
..   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
95   3.5   5.0   3.5   NaN   3.0   3.5  ...   3.0   NaN   NaN   4.5   NaN   3.5
96   3.0   5.0   NaN   NaN   4.0   3.5  ...   2.5   NaN   NaN   4.0   NaN   NaN
97   NaN   4.5   NaN   NaN   4.0   NaN  ...   3.5   NaN   NaN   NaN   3.0   4.0
98   3.5   4.0   NaN   NaN   3.5   NaN  ...   3.0   4.0   NaN   3.5   NaN   4.0
99   NaN   NaN   NaN   NaN   3.0   3.5  ...   1.5   4.0   NaN   NaN   NaN   NaN

[100 rows x 25 columns]

In [ ]:
# print row of datafr for a specific user
#data.loc[[0]][5136]
datam= data.set_index('Unnamed: 0')
for d in datam:
  print(d)

1648
5136
918
2824
3867
860
3712
2968
3525
4323
3617
4360
2756
89
442
3556
5261
2492
5062
2486
4942
2267
4809
3853
2288

In [ ]:
uu_sim = data.corr() # it retuen dataframe
uu_sim

          1648      5136      918   ...      4809      3853      2288
1648  1.000000  0.402980 -0.142206  ...  0.394371 -0.304422  0.245048
5136  0.402980  1.000000  0.118979  ...  0.411676  0.189234  0.390067
918  -0.142206  0.118979  1.000000  ...  0.082528  0.667168  0.119162
2824  0.517620  0.057916 -0.317063  ...  0.474974 -0.262073  0.166999
3867  0.300200  0.341734  0.294558  ...  0.054518  0.464110  0.379856
860   0.480537  0.241377  0.468333  ...  0.165608  0.162314  0.279677
3712 -0.312412  0.131398  0.092037  ... -0.451625  0.193660  0.113266
2968  0.383348  0.206695 -0.045854  ... -0.083562 -0.089317  0.229219
3525  0.092775  0.360056  0.367568  ...  0.284648  0.170757  0.193131
4323  0.098191  0.033642 -0.035394  ...  0.085673 -0.109892 -0.279385
3617 -0.041734  0.138548  0.011316  ...  0.268595 -0.143503  0.013284
4360  0.264425  0.152948 -0.231660  ...  0.179652  0.280402  0.040328
2756  0.261268  0.148882  0.148431  ...  0.015140  0.181210 -0.005935
89    0.464610  0.562449  0.267029  ...  0.668516  0.179680  0.155869
442   0.022308  0.414438  0.304139  ...  0.064179 -0.023439  0.257864
3556 -0.191988  0.488607  0.373226  ...  0.100277  0.423225  0.222458
5261  0.493008  0.328120  0.470972  ...  0.455274  0.039050  0.374264
2492  0.360644  0.422236  0.069956  ...  0.449025  0.289410  0.169239
5062  0.551089  0.226635 -0.054762  ...  0.428055  0.407044  0.278868
2486  0.002544  0.305803  0.133812  ...  0.105761  0.472361  0.257462
4942  0.116653  0.037769  0.015169  ... -0.004638  0.143672  0.074476
2267 -0.429183  0.240728 -0.273096  ... -0.339845  0.165960  0.156341
4809  0.394371  0.411676  0.082528  ...  1.000000  0.542192  0.435520
3853 -0.304422  0.189234  0.667168  ...  0.542192  1.000000  0.080403
2288  0.245048  0.390067  0.119162  ...  0.435520  0.080403  1.000000

[25 rows x 25 columns]

In [ ]:
target_cor = uu_sim.loc[89]
print("row of target user corr ",target_cor)

row of target user corr  1648    0.464610
5136    0.562449
918     0.267029
2824    0.241567
3867   -0.003878
860     0.539066
3712   -0.051320
2968   -0.118085
3525    0.475495
4323    0.258866
3617    0.278335
4360   -0.115492
2756    0.290591
89      1.000000
442     0.296826
3556    0.326774
5261    0.291476
2492    0.372676
5062    0.525990
2486    0.123380
4942    0.178088
2267    0.088600
4809    0.668516
3853    0.179680
2288    0.155869
Name: 89, dtype: float64

In [ ]:
top_neighbors = target_cor.nlargest(5+1, keep='first') # n+1 with consider the user 
top_neighbors

89      1.000000
4809    0.668516
5136    0.562449
860     0.539066
5062    0.525990
3525    0.475495
Name: 89, dtype: float64

In [ ]:
neighbors = top_neighbors.iloc[1:]
#type(neighbors)
neighbors

4809    0.668516
5136    0.562449
860     0.539066
5062    0.525990
3525    0.475495
Name: 89, dtype: float64

In [ ]:
#list(neighbors.index)
neighbors.index

Index([4809, 5136, 860, 5062, 3525], dtype='object')

In [ ]:
neighbors.values

array([0.66851595, 0.56244874, 0.53906585, 0.52599044, 0.47549485])

In [ ]:
def get_top_users(uu_sim,target,n=5):
    target_cor = uu_sim.loc[target]
    top_neighbors = target_cor.nlargest(n+1).iloc[1:]
    return top_neighbors

In [ ]:
def get_user_movie_score(movie,user):

    neighbors = get_top_users(uu_sim,user)
    #print("استدعاء", movie.head())
    rating_sum = 0
    weight_sum = 0
    for useri , w in zip(neighbors.index,neighbors.values):
        #print("user ", user ," w ",w, " movie[user] ", movie[user])
        if np.isnan(movie[useri]):
            continue
        rating_sum += movie[useri] * w
        weight_sum += w
    if weight_sum == 0:
        return 0
    else:
        return rating_sum/weight_sum

In [ ]:
pred_3867 = data.apply(get_user_movie_score,axis=1,args=(89,)) # axis =1 row |  args : tuple / list of arguments to passed to function.
# row = row indexes values first row
# movie [user] return value of rating for the index in sended row

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)
x

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/PHD/Data/UUCF Assignment Spreadsheet.xls')
data.head()

                                          Unnamed: 0  1648  ...  3853  2288
0      11: Star Wars: Episode IV - A New Hope (1977)   NaN  ...   NaN   NaN
1                            12: Finding Nemo (2003)   NaN  ...   NaN   3.5
2                            13: Forrest Gump (1994)   NaN  ...   3.5   3.5
3                         14: American Beauty (1999)   NaN  ...   NaN   NaN
4  22: Pirates of the Caribbean: The Curse of the...   4.0  ...   NaN   3.5

[5 rows x 26 columns]

In [ ]:
# formula user mean rates
ru = data.loc[:, 1648].mean()
ru

3.6515151515151514

In [ ]:
data = data.rename(columns = {'Unnamed: 0': 'Movie_name'}, inplace = False)

In [ ]:
pred_3867.sort_values(ascending=False)[:3]

27    4.894124
33    4.882194
64    4.774093
dtype: float64

In [ ]:
pred_89.sort_values(ascending=False)[:3]

27    4.894124
33    4.882194
64    4.774093
dtype: float64

# Part 2 - **Normalization**

![image.png]()

In [ ]:
def get_norm_user_movie_score(movie,user):
    neighbors = get_top_users(uu_sim,user)
    print("Top neighbors", neighbors)
    rating_sum = 0
    weight_sum = 0
    user_rating_mean = data.loc[:,user].mean()
    for user , w in zip(neighbors.index,neighbors.values):
        print("user ", user ," w ",w, " movie[user] ", movie[user])
        
        if np.isnan(movie[user]):
            continue
        movie_user_mean = data.loc[:,user].mean()
        rating_sum += (movie[user]-movie_user_mean) * w    # sum (rn-rn' * wn)
        weight_sum += w                                    # sum wn
    if weight_sum == 0:
        return 0
    else:
        return user_rating_mean + rating_sum/weight_sum

In [ ]:
norm_pred_3867 = data.apply(get_norm_user_movie_score,axis=1,args=(3867,))

Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  3.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  2.0
user  3712  w  0.40027450425381644  movie[user]  4.5
user  2288  w  0.3798562650229304  movie[user]  3.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.5
user  3853  w  0.46411014776485626  movie[user]  3.5
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  3.5
user  3712  w  0.40027450425381644  movie[user]  4.5
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  2.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  5.0
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  5.0
user  2486  w  0.4389915544146359  movie[user]  3.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  4.0
user  2486  w  0.4389915544146359  movie[user]  3.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  5.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  4.5
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  5.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  5.0
user  3853  w  0.46411014776485626  movie[user]  4.0
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  5.0
user  3853  w  0.46411014776485626  movie[user]  3.0
user  2486  w  0.4389915544146359  movie[user]  2.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  2.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  3.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  2.5
user  3712  w  0.40027450425381644  movie[user]  4.0
user  2288  w  0.3798562650229304  movie[user]  2.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.5
user  3853  w  0.46411014776485626  movie[user]  5.0
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  5.0
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  5.0
user  3853  w  0.46411014776485626  movie[user]  4.0
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  2.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  4.0
user  2486  w  0.4389915544146359  movie[user]  2.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  4.5
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  4.0
user  2288  w  0.3798562650229304  movie[user]  1.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  5.0
user  3853  w  0.46411014776485626  movie[user]  5.0
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.5
user  3853  w  0.46411014776485626  movie[user]  3.5
user  2486  w  0.4389915544146359  movie[user]  2.5
user  3712  w  0.40027450425381644  movie[user]  4.0
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  3.5
user  2486  w  0.4389915544146359  movie[user]  3.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  1.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  4.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.0
user  3853  w  0.46411014776485626  movie[user]  4.5
user  2486  w  0.4389915544146359  movie[user]  5.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.5
user  3853  w  0.46411014776485626  movie[user]  2.5
user  2486  w  0.4389915544146359  movie[user]  1.5
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  5.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  5.0
user  2486  w  0.4389915544146359  movie[user]  3.0
user  3712  w  0.40027450425381644  movie[user]  4.0
user  2288  w  0.3798562650229304  movie[user]  5.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  2.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  2.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  2.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  4.0
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  1.5
user  3853  w  0.46411014776485626  movie[user]  4.0
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  4.5
user  2288  w  0.3798562650229304  movie[user]  5.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.0
user  3853  w  0.46411014776485626  movie[user]  4.0
user  2486  w  0.4389915544146359  movie[user]  0.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  2.5
user  3853  w  0.46411014776485626  movie[user]  3.0
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  4.5
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.0
user  3853  w  0.46411014776485626  movie[user]  2.0
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.0
user  3853  w  0.46411014776485626  movie[user]  5.0
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  1.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  4.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  nan
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  4.5
user  2486  w  0.4389915544146359  movie[user]  3.5
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  3.5
user  2486  w  0.4389915544146359  movie[user]  1.0
user  3712  w  0.40027450425381644  movie[user]  4.5
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  3.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  nan
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  2.0
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  5.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.0
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  3.5
user  3712  w  0.40027450425381644  movie[user]  nan
user  2288  w  0.3798562650229304  movie[user]  1.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  3.0
user  3712  w  0.40027450425381644  movie[user]  4.5
user  2288  w  0.3798562650229304  movie[user]  1.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  1.5
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  2.5
user  3712  w  0.40027450425381644  movie[user]  4.0
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  3.5
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  5.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.0
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  3.5
user  3712  w  0.40027450425381644  movie[user]  3.5
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.5
user  3853  w  0.46411014776485626  movie[user]  nan
user  2486  w  0.4389915544146359  movie[user]  3.0
user  3712  w  0.40027450425381644  movie[user]  4.5
user  2288  w  0.3798562650229304  movie[user]  0.5
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  3.0
user  3853  w  0.46411014776485626  movie[user]  2.0
user  2486  w  0.4389915544146359  movie[user]  1.5
user  3712  w  0.40027450425381644  movie[user]  3.5
user  2288  w  0.3798562650229304  movie[user]  3.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64
user  2492  w  0.47668328054517956  movie[user]  4.0
user  3853  w  0.46411014776485626  movie[user]  4.5
user  2486  w  0.4389915544146359  movie[user]  4.5
user  3712  w  0.40027450425381644  movie[user]  5.0
user  2288  w  0.3798562650229304  movie[user]  4.0
Top neighbors 2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64

In [ ]:
norm_pred_89 = data.apply(get_norm_user_movie_score,axis=1,args=(89,))

In [ ]:
norm_pred_3867.sort_values(ascending=False)[:3]

77    5.245509
21    4.856770
8     4.777803
dtype: float64

In [ ]:
norm_pred_89.sort_values(ascending=False)[:3]

27    5.322015
33    5.261424
32    5.241111
dtype: float64

# Item = item

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/PHD/Data/Assignment 5.xls', sheet_name=0)
data = data.fillna(0)

In [ ]:
data
#data.values[:-1,1:-1]

    User  1: Toy Story (1995)  ...  34: Babe (1995)      Mean
0    755              2.00000  ...         0.000000  3.200000
1   5277              1.00000  ...         0.000000  2.769231
2   1577              0.00000  ...         3.000000  2.333333
3   4388              2.00000  ...         2.000000  2.833333
4   1202              0.00000  ...         0.000000  3.214286
5   3823              3.00000  ...         2.000000  3.071429
6   5448              0.00000  ...         2.000000  2.666667
7   5347              2.00000  ...         0.000000  2.666667
8   4117              4.00000  ...         5.000000  3.166667
9   2765              4.00000  ...         0.000000  3.181818
10  5450              5.00000  ...         4.000000  2.818182
11   139              2.00000  ...         2.000000  2.800000
12  1940              4.00000  ...         0.000000  3.777778
13  3118              3.00000  ...         0.000000  2.636364
14  4656              2.00000  ...         1.000000  3.153846
15  4796              0.00000  ...         4.000000  2.583333
16  6037              2.00000  ...         0.000000  2.666667
17  3048              4.00000  ...         5.000000  3.076923
18  4790              2.00000  ...         0.000000  2.545455
19  4489              2.00000  ...         0.000000  3.117647
20    L2             11.83216  ...        10.392305  0.000000

[21 rows x 22 columns]

In [ ]:
matrix = pd.read_excel('/content/drive/MyDrive/PHD/Data/Assignment 5.xls', sheet_name=2)

In [ ]:
matrix

                                           Unnamed: 0  ...  34: Babe (1995)
0                                 1: Toy Story (1995)  ...              NaN
1   1210: Star Wars: Episode VI - Return of the Je...  ...              NaN
2                            356: Forrest Gump (1994)  ...              NaN
3               318: Shawshank Redemption, The (1994)  ...              NaN
4               593: Silence of the Lambs, The (1991)  ...              NaN
5                              3578: Gladiator (2000)  ...              NaN
6      260: Star Wars: Episode IV - A New Hope (1977)  ...              NaN
7                    2028: Saving Private Ryan (1998)  ...              NaN
8                            296: Pulp Fiction (1994)  ...              NaN
9                            1259: Stand by Me (1986)  ...              NaN
10                   2396: Shakespeare in Love (1998)  ...              NaN
11                          2916: Total Recall (1990)  ...              NaN
12                 780: Independence Day (ID4) (1996)  ...              NaN
13                           541: Blade Runner (1982)  ...              NaN
14                         1265: Groundhog Day (1993)  ...              NaN
15                           2571: Matrix, The (1999)  ...              NaN
16                       527: Schindler's List (1993)  ...              NaN
17                      2762: Sixth Sense, The (1999)  ...              NaN
18               1198: Raiders of the Lost Ark (1981)  ...              NaN
19                                    34: Babe (1995)  ...              NaN

[20 rows x 21 columns]

In [ ]:
#sim_array = cosine_similarity(data.values[:-1,1:-1].T)

In [ ]:
#جميع الاسطر ماعدا سطر ل2 اخر سطر لذلك وضع -1
#الاعمدة الاول وحتى قبل الاخير
# لان الاول هو رقم اليوزر والاخير هو المتوسط
data.values[:-1,1:-1]

array([[2.0, 5.0, 2.0, 0.0, 4.0, 4.0, 1.0, 2.0, 0.0, 3.0, 2.0, 0.0, 5.0,
        2.0, 5.0, 4.0, 2.0, 5.0, 0.0, 0.0],
       [1.0, 0.0, 0.0, 2.0, 4.0, 2.0, 5.0, 0.0, 0.0, 4.0, 3.0, 2.0, 2.0,
        0.0, 2.0, 0.0, 5.0, 1.0, 3.0, 0.0],
       [0.0, 0.0, 0.0, 5.0, 2.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 4.0,
        4.0, 1.0, 1.0, 2.0, 3.0, 1.0, 3.0],
       [2.0, 3.0, 0.0, 0.0, 0.0, 1.0, 0.0, 3.0, 4.0, 0.0, 0.0, 4.0, 0.0,
        3.0, 5.0, 0.0, 5.0, 1.0, 1.0, 2.0],
       [0.0, 3.0, 4.0, 1.0, 4.0, 1.0, 4.0, 4.0, 0.0, 1.0, 5.0, 1.0, 0.0,
        4.0, 0.0, 3.0, 5.0, 5.0, 0.0, 0.0],
       [3.0, 4.0, 4.0, 4.0, 0.0, 0.0, 2.0, 1.0, 4.0, 4.0, 5.0, 2.0, 4.0,
        0.0, 1.0, 0.0, 0.0, 3.0, 0.0, 2.0],
       [0.0, 0.0, 3.0, 1.0, 1.0, 4.0, 4.0, 5.0, 2.0, 0.0, 1.0, 0.0, 0.0,
        3.0, 0.0, 1.0, 0.0, 0.0, 5.0, 2.0],
       [2.0, 0.0, 0.0, 0.0, 3.0, 2.0, 4.0, 0.0, 3.0, 0.0, 0.0, 2.0, 1.0,
        2.0, 4.0, 0.0, 1.0, 3.0, 5.0, 0.0],
       [4.0, 1.0, 0.0, 4.0, 2.0, 4.0, 5.0, 4.0, 0.0, 1.0, 2.0, 0.0, 1.0,
        0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 5.0],
       [4.0, 2.0, 0.0, 5.0, 3.0, 0.0, 4.0, 3.0, 4.0, 0.0, 0.0, 0.0, 2.0,
        0.0, 0.0, 2.0, 5.0, 1.0, 0.0, 0.0],
       [5.0, 1.0, 5.0, 0.0, 0.0, 5.0, 2.0, 0.0, 0.0, 0.0, 0.0, 3.0, 2.0,
        0.0, 0.0, 1.0, 0.0, 2.0, 1.0, 4.0],
       [2.0, 5.0, 2.0, 0.0, 0.0, 0.0, 3.0, 0.0, 1.0, 0.0, 3.0, 0.0, 3.0,
        0.0, 2.0, 5.0, 0.0, 0.0, 0.0, 2.0],
       [4.0, 0.0, 0.0, 5.0, 4.0, 0.0, 2.0, 5.0, 0.0, 0.0, 0.0, 2.0, 4.0,
        0.0, 3.0, 0.0, 0.0, 0.0, 5.0, 0.0],
       [3.0, 0.0, 3.0, 0.0, 2.0, 0.0, 3.0, 0.0, 0.0, 4.0, 0.0, 1.0, 2.0,
        2.0, 3.0, 5.0, 1.0, 0.0, 0.0, 0.0],
       [2.0, 4.0, 0.0, 0.0, 5.0, 5.0, 4.0, 0.0, 3.0, 5.0, 0.0, 1.0, 3.0,
        0.0, 2.0, 0.0, 3.0, 0.0, 3.0, 1.0],
       [0.0, 0.0, 1.0, 0.0, 3.0, 2.0, 0.0, 2.0, 0.0, 1.0, 5.0, 0.0, 2.0,
        0.0, 0.0, 2.0, 2.0, 4.0, 3.0, 4.0],
       [2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0, 3.0,
        0.0, 3.0, 4.0, 0.0, 0.0, 0.0, 0.0],
       [4.0, 5.0, 1.0, 5.0, 1.0, 1.0, 4.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0,
        4.0, 0.0, 0.0, 2.0, 1.0, 2.0, 5.0],
       [2.0, 1.0, 3.0, 0.0, 0.0, 4.0, 5.0, 1.0, 3.0, 3.0, 3.0, 1.0, 0.0,
        0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
       [2.0, 2.0, 2.0, 4.0, 5.0, 0.0, 1.0, 3.0, 2.0, 2.0, 1.0, 0.0, 4.0,
        5.0, 5.0, 4.0, 3.0, 5.0, 3.0, 0.0]], dtype=object)

In [ ]:
#منقول المصفوفة
data.values[:-1,1:-1].T

array([[2.0, 1.0, 0.0, 2.0, 0.0, 3.0, 0.0, 2.0, 4.0, 4.0, 5.0, 2.0, 4.0,
        3.0, 2.0, 0.0, 2.0, 4.0, 2.0, 2.0],
       [5.0, 0.0, 0.0, 3.0, 3.0, 4.0, 0.0, 0.0, 1.0, 2.0, 1.0, 5.0, 0.0,
        0.0, 4.0, 0.0, 0.0, 5.0, 1.0, 2.0],
       [2.0, 0.0, 0.0, 0.0, 4.0, 4.0, 3.0, 0.0, 0.0, 0.0, 5.0, 2.0, 0.0,
        3.0, 0.0, 1.0, 0.0, 1.0, 3.0, 2.0],
       [0.0, 2.0, 5.0, 0.0, 1.0, 4.0, 1.0, 0.0, 4.0, 5.0, 0.0, 0.0, 5.0,
        0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 4.0],
       [4.0, 4.0, 2.0, 0.0, 4.0, 0.0, 1.0, 3.0, 2.0, 3.0, 0.0, 0.0, 4.0,
        2.0, 5.0, 3.0, 0.0, 1.0, 0.0, 5.0],
       [4.0, 2.0, 0.0, 1.0, 1.0, 0.0, 4.0, 2.0, 4.0, 0.0, 5.0, 0.0, 0.0,
        0.0, 5.0, 2.0, 0.0, 1.0, 4.0, 0.0],
       [1.0, 5.0, 0.0, 0.0, 4.0, 2.0, 4.0, 4.0, 5.0, 4.0, 2.0, 3.0, 2.0,
        3.0, 4.0, 0.0, 0.0, 4.0, 5.0, 1.0],
       [2.0, 0.0, 0.0, 3.0, 4.0, 1.0, 5.0, 0.0, 4.0, 3.0, 0.0, 0.0, 5.0,
        0.0, 0.0, 2.0, 0.0, 0.0, 1.0, 3.0],
       [0.0, 0.0, 0.0, 4.0, 0.0, 4.0, 2.0, 3.0, 0.0, 4.0, 0.0, 1.0, 0.0,
        0.0, 3.0, 0.0, 2.0, 5.0, 3.0, 2.0],
       [3.0, 4.0, 1.0, 0.0, 1.0, 4.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,
        4.0, 5.0, 1.0, 0.0, 0.0, 3.0, 2.0],
       [2.0, 3.0, 0.0, 0.0, 5.0, 5.0, 1.0, 0.0, 2.0, 0.0, 0.0, 3.0, 0.0,
        0.0, 0.0, 5.0, 2.0, 0.0, 3.0, 1.0],
       [0.0, 2.0, 1.0, 4.0, 1.0, 2.0, 0.0, 2.0, 0.0, 0.0, 3.0, 0.0, 2.0,
        1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0],
       [5.0, 2.0, 4.0, 0.0, 0.0, 4.0, 0.0, 1.0, 1.0, 2.0, 2.0, 3.0, 4.0,
        2.0, 3.0, 2.0, 3.0, 0.0, 0.0, 4.0],
       [2.0, 0.0, 4.0, 3.0, 4.0, 0.0, 3.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        2.0, 0.0, 0.0, 0.0, 4.0, 0.0, 5.0],
       [5.0, 2.0, 1.0, 5.0, 0.0, 1.0, 0.0, 4.0, 5.0, 0.0, 0.0, 2.0, 3.0,
        3.0, 2.0, 0.0, 3.0, 0.0, 0.0, 5.0],
       [4.0, 0.0, 1.0, 0.0, 3.0, 0.0, 1.0, 0.0, 0.0, 2.0, 1.0, 5.0, 0.0,
        5.0, 0.0, 2.0, 4.0, 0.0, 2.0, 4.0],
       [2.0, 5.0, 2.0, 5.0, 5.0, 0.0, 0.0, 1.0, 0.0, 5.0, 0.0, 0.0, 0.0,
        1.0, 3.0, 2.0, 0.0, 2.0, 0.0, 3.0],
       [5.0, 1.0, 3.0, 1.0, 5.0, 3.0, 0.0, 3.0, 0.0, 1.0, 2.0, 0.0, 0.0,
        0.0, 0.0, 4.0, 0.0, 1.0, 0.0, 5.0],
       [0.0, 3.0, 1.0, 1.0, 0.0, 0.0, 5.0, 5.0, 0.0, 0.0, 1.0, 0.0, 5.0,
        0.0, 3.0, 3.0, 0.0, 2.0, 0.0, 3.0],
       [0.0, 0.0, 3.0, 2.0, 0.0, 2.0, 2.0, 0.0, 5.0, 0.0, 4.0, 2.0, 0.0,
        0.0, 1.0, 4.0, 0.0, 5.0, 0.0, 0.0]], dtype=object)

In [ ]:
sim_array = cosine_similarity(data.values[:-1,1:-1].T)

In [ ]:
sim_array.shape

(20, 20)

In [ ]:
#You can compute pairwise cosine similarity on the rows of a sparse matrix directly using sklearn. 
#As of version 0.17 it also supports sparse output:
#
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
import numpy as np

A =  np.array([[0, 1, 0, 0, 1], 
               [0, 0, 1, 1, 1],
               [1, 1, 0, 1, 0]])

similarities = cosine_similarity(A)

In [ ]:
similarities

array([[1.        , 0.40824829, 0.40824829],
       [0.40824829, 1.        , 0.33333333],
       [0.40824829, 0.33333333, 1.        ]])

In [ ]:
similarities = cosine_similarity(A_sparse)
similarities

array([[1.        , 0.40824829, 0.40824829],
       [0.40824829, 1.        , 0.33333333],
       [0.40824829, 0.33333333, 1.        ]])

In [ ]:
A_sparse

<3x5 sparse matrix of type '<class 'numpy.longlong'>'
	with 8 stored elements in Compressed Sparse Row format>

In [ ]:
print('pairwise dense output:\n {}\n'.format(similarities))

pairwise dense output:
 [[1.         0.40824829 0.40824829]
 [0.40824829 1.         0.33333333]
 [0.40824829 0.33333333 1.        ]]

## If you want column-wise cosine similarities simply transpose your input matrix beforehand:

In [ ]:
A_sparse.transpose()

<5x3 sparse matrix of type '<class 'numpy.longlong'>'
	with 8 stored elements in Compressed Sparse Column format>

In [ ]:
#The following method is about 30 times faster than scipy.spatial.distance.pdist. 
#It works pretty quickly on large matrices (assuming you have enough RAM)
#See below for a discussion of how to optimize for sparsity.